.main-footer {
  color: #007bff;
  background-color: black;
  padding-top: 50px;
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: 300px;
}

.nav-link {
  display: block;
  padding: 0;
  color: #007bff;
}

.container {
  background-color: rgb(51, 50, 50);
}
